#nav {
    height: 80px;
    width: 100%;
    background-color: chocolate;
}

#nav ul {
    display: flex;
    margin: 10px;
    padding: 10px;
}

#nav ul li {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: white;
    line-height: 20px;
    display: block;
}

#nav ul li:hover {
    background-color: black;
    color: chocolate;
    cursor: pointer;
}